:root {
	--white-color: #fff;
	--light-white-color: #f1f1f1;
	--section-bg: #f9f5fe;
	--dark-black: #000000;
	--light-blue: #0000ee;
	--dark-violet: #6f10a2;
	/* --light-violet: #864ef2; */
	--light-violet: #022648;
	--light-gold: #E0C389;
	--green-color: #2b8700;
	/* --light-green-color: #10a26f; */
	--light-green-color: #E0C389;
	--dark-gray: #737373;
	--light-gray: #6b7280;
	--very-light-gray: #7c7e83;
	--dark-blue: #111827;
	--vary-dark-blue: #300745;
	--vary-dark-blue-second: #37084e;
	/* --arabic-font: 'Noto Kufi Arabic', sans-serif; */
	scroll-behavior: smooth;
}
body {
	font-family: 'Noto Kufi Arabic', sans-serif;
	/* height: 200vh; */
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none !important;
}
/* Components */
.main-btn {
  z-index: 1;
  padding: 10px 22px;
  position: relative;
  color: white;
  outline: none;
  border: none;
  background-color: var(--light-violet);
  overflow: hidden;
  transition: color 0.s3 ease-in-out;
  -webkit-transition: color 0.s3 ease-in-out;
  -moz-transition: color 0.s3 ease-in-out;
  -ms-transition: color 0.s3 ease-in-out;
  -o-transition: color 0.s3 ease-in-out;
}
.main-btn::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 100%;
	width: 17%;
  height: 1em;
  border-radius: 50%;
  background-color: var(--dark-blue);
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -moz-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -ms-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -o-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
}
.main-btn:hover {
  cursor: pointer;
  color: #fff;
}
.main-btn:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  -moz-transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  -ms-transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  -o-transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}
.special-title h3 {
	color: var(--light-blue);
	color: var(--light-violet);
}
.special-title h3::before {
	content: '';
	background-color: var(--light-green-color);
	height: 3px;
	width: 15%;
	position: absolute;
	bottom: 0;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}
.our-files {
	width: 100%;
	height: 300px;
	border: 2px solid var(--section-bg);
	border-radius: 4px;
}
.our-files .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.our-files .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
@media(min-width: 992px) {
	.special-title h3:hover::before {
		width: 30%;
	}
}
@media (max-width: 992px) {
	.special-title {
		max-width: 500px;
    margin: auto;
    text-align: center;
	}
}
/* Components */
/* Start Navbar */
.top-contact {
	background-color: rgba(0 0 0 / 75%);
}
.top-contact .container {
	padding: 7px;
}
.top-contact a {
	color: white;
	font-weight: 600;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
@media (max-width: 500px) {
	.top-contact a {
		font-size: 10px;
	}
}
@media (max-width: 320px) {
	.top-contact a {
		font-size: 9px;
	}
}
.top-contact li:not(:last-child) {
	border-right: 2px dashed var(--light-green-color);
	/* border-right: 2px dashed var(--light-violet); */
}
.top-contact li {
	padding-right: 15px;
}
.top-contact li svg {
	color: var(--light-green-color);
}
.top-contact li:hover a {
	color: var(--light-green-color);
}
/* Start Navbar */
.navbar {
	padding: 0;
	background-color: #fff;
	border-bottom: 2px solid var(--light-violet);
}
.navbar-brand {
	max-width: 105px;
	margin: 0;
}
.navbar-toggler {
	border: 1px solid var(--dark-black) !important;
}
.navbar-toggler:focus {
	box-shadow: none !important;
}
.navbar-toggler svg {
	color: var(--dark-blue);
}
.dropdown-toggle::after {
	display: none;
}
.dropdown-toggle svg {
	font-size: 11px;
	transition: 0.4s ease-in-out;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
}
.dropdown-toggle[aria-expanded="true"] svg {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.navbar .nav-item > a {
	color: var(--dark-violet);
	color: var(--light-violet);
	font-weight: 500;
}
.navbar .nav-item > a + .dropdown-menu {
	width: 250px;
	padding: 0;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	box-shadow: 0px 0px 15px 0px rgba(77, 77, 77, 0.2);
	border: none;
	border-top: 1px solid #fff;
}
@media (max-width: 992px) {
	.navbar .nav-item > a + .dropdown-menu {
		width: 100%;
		text-align: center;
	}
}
.navbar .nav-item > a + .dropdown-menu::before {
	content: '';
	position: absolute;
	top: -35px;
	left: 10px;;
	border-width: 18px;
	border-style: solid;
	border-color: transparent transparent #fff;
}
.navbar .nav-item > a + .dropdown-menu .dropdown-item {
	padding: 10px 15px;
	border-bottom: 1px solid #0000ff0f;
	position: relative;
	overflow: hidden;
}
.navbar .nav-item > a + .dropdown-menu .dropdown-item::before {
	content: '';
	position: absolute;
	left: 0px;
	width: 3px;
	height: 0;
	background-color: var(--light-violet);
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.navbar .nav-item > a + .dropdown-menu .dropdown-item:hover {
	color: var(--dark-violet);
}
.navbar .nav-item > a + .dropdown-menu .dropdown-item:hover::before {
	height: 100%;
}
.navbar .nav-item > a::after {
	display: none;
}
/* Start Hero */
.hero {
	position: relative;
	height: calc(100vh - 112px);
	margin-top: 112px;
	color: var(--white-color);
}
.hero .slide {
	opacity: 0;
	transition: 0.9s ease-in-out;
	-webkit-transition: 0.9s ease-in-out;
	-moz-transition: 0.9s ease-in-out;
	-ms-transition: 0.9s ease-in-out;
	-o-transition: 0.9s ease-in-out;
}
.hero .slide:first-child {
	background: var(--light-blue) url(../imgs/hero-img-1.jpg) no-repeat center center / cover;
}
.hero .slide:nth-child(2) {
	background: var(--light-blue) url(../imgs/hero-img-2.jpg) no-repeat center center / cover;
}
.hero .slide:nth-child(3) {
	background: var(--light-blue) url(../imgs/hero-img-3.jpg) no-repeat center center / cover;
}
.hero .slide:nth-child(4) {
	background: var(--light-blue) url(../imgs/hero-img-4.jpg) no-repeat center center / cover;
}
.hero .slide.show {
	opacity: 1;
}
.hero::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: .6;
}
.hero .text {
	z-index: 10;
}
.hero .text .title {
	font-size: 45px;
}
@media (max-width: 500px) {
	.hero .text .title {
		font-size: 32px;
	}
	.hero .text .desc {
		font-size: 17px;
	}
}
/* End Hero */
/* Start Our skills */
/* .our-skills {
	background-color: var(--section-bg);
} */
.our-skills .container img {
	width: 100%;
}
.our-skills .container .box {
	height: 120px;
	background-color: var(--section-bg);
	line-height: 2.8;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	z-index: 2;
}
.our-skills .container .box:hover {
	transform: translateY(-4px);
	-webkit-transform: translateY(-4px);
	-moz-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	-o-transform: translateY(-4px);
	box-shadow: 1px 1px 12px 2px rgba(0 0 0/ 10%);
}
.our-skills .container .box svg {
	font-size: 30px;
	color: var(--light-violet);
}
.our-skills .container .box h5 {
	font-weight: 500;
	font-size: 14px;
	color: var(--dark-blue);
}
.our-skills .container .box::before {
	content: '';
	width: 0%;
	height: 100%;
	background-color: var(--light-blue);
	background-color: #0000ee13;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.our-skills .container .box:hover::before {
	width: 100%;
}
/* End Our skills */
/* Start Our Companies */
.companies {
	background-color: var(--section-bg);
}
.companies .box {
	box-shadow: 0px 0px 1px #e7e7e7;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	position: relative;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}
.companies .box:hover {
	box-shadow: 1px 1px 4px 1px #e7e7e7;
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
}
.companies .box::before,
.companies .box::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	border-radius: 5px;
	background-color: var(--light-violet);
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.companies .box::before {
	top: 0;
	left: 0;
}
.companies .box::after {
	bottom: 0;
	right: 0;
}
.companies .box:hover::before,
.companies .box:hover::after {
	width: 100%;
}
.companies .box img {
	width: 80px;
	height: 80px;
}
.companies .box p {
	font-size: 14px;
}
/* End Our Companies */
/* Start Clients */
.clients {
	/* background-color: var(--section-bg); */
}
.clients .clients-slider .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
	/* width: 100%; */
}

.clients .clients-slider .swiper-slide img:hover {
  opacity: 1;
}

.clients .clients-slider .swiper-pagination {
	margin-top: 50px;
  position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
  border: 1px solid var(--light-gold);
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #4154f1;
	background-color: var(--light-gold);
}

/* End Clients */
/* Start About */
.about-us {
	background-color: var(--section-bg);
}
.about-us .slider svg {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #eeeeeee6;
	color: var(--light-gold);
	z-index: 10;
	font-size: 22px;
	padding: 15px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	cursor: pointer;
}
.about-us .slider .right-arr {
	right: 0px;
}
.about-us .slider .left-arr {
	left: 0px;
}
.about-us .about-text {
	font-size: 14px;
}
/* End About */
/* Start Footer */
footer {
	/* background-color: #303441; */
	background-color: var(--light-violet);
}
footer .footer-logo {
	max-width: 150px;
}
footer .footer-logo + p {
	max-width: 270px;
}
footer h5 {
	color: white;
	position: relative;
	padding: 5px 0 15px;
}
footer h5::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 3px;
	background-color: var(--light-gold);
}
footer a {
	color: rgba(245, 255, 255, 0.8);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
footer p {
	color: rgba(245, 255, 255, 0.8);
}
@media (max-width: 992px) {
	footer p.copyrights-text {
		font-size: calc(9px + 0.2vw);
	}
}
footer a:hover {
	color: #fff;
}
footer svg {
	color: var(--light-gold);
}
.bottom-footer {
	border-top: 1px solid var(--light-gold);
}
/* End Footer */

/* --------------------------- */
/* ------- Estates Page ------ */
/* --------------------------- */

/* Start Our real estates */
.real-estates {
	
}
.real-estates .rooms {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 25px 20px;
}
.real-estates .room-box {
	background-color: var(--white-color);
	box-shadow: 1px 2px 3px 1px rgba(0 0 0 / 10%);
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid var(--light-white-color);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.real-estates .img-holder {
	height: 220px;
	overflow: hidden;
}
.real-estates .img-holder img {
	height: 100%;
	object-fit: cover;
}
.real-estates .room-box .img-holder .type,
.real-estates .room-box .img-holder .special {
	font-size: calc(12px + 0.3vw);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.real-estates .room-box .img-holder .type {
	color: var(--light-violet);
	background: var(--white-color);
}
.real-estates .room-box .img-holder .special {
	color: var(--white-color);
	background: var(--dark-violet);
}
.real-estates .room-info {

}
.real-estates .room-info .title {
}
.real-estates .room-info .location-icon {
	color: var(--light-violet);
	font-size: 14px;
}
.real-estates .room-info li .icon {
	max-width: 24px;
	margin-inline-end: 8px;
}
.real-estates .room-info li .num {
	font-size: 12px;
}
.real-estates .room-info li span {
	
}
.real-estates .end-info {
	border-top: 1px solid var(--light-white-color);
}
.real-estates .end-info .price {
	font-size: calc(15px + 0.2vw);
}
.real-estates .end-info .contact {

}
.real-estates .end-info .contact .whatsapp,
.real-estates .end-info .contact .phone {
	padding: 7px 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.real-estates .end-info .contact svg {
	font-size: 19px;
}
.real-estates .end-info .contact .whatsapp {
	border: 1px solid var(--light-gold);
}
.real-estates .end-info .contact .whatsapp svg {
	color: var(--light-gold);
}
.real-estates .end-info .contact .phone {
	background-color: var(--light-violet);
}
.real-estates .end-info .contact .phone svg {
	color: white;
}
.real-estates .room-info .view-btn {
	text-align: center;
	color: white;
	padding: 3px 0 6px;
	border-radius: 5px;
	font-size: calc(10px + .5vw);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	background-color: #022648ef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.real-estates .room-info .view-btn:hover {
	background: var(--light-violet);
}
@media (max-width: 340px) {
	.real-estates .rooms {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
	.real-estates .end-info .contact .whatsapp, .real-estates .end-info .contact .phone {
    padding: 4px 8px;
	}
}
/* End Our real estates */
/* --------------------------- */
/* ------- create Page ------ */
/* --------------------------- */
#myForm {
	background-color: var(--section-bg);
}
#myForm .container {
	min-height: 100vh;
	background-color: var(--white-color);
}
#myForm .title {
	color: var(--light-violet);
	border-bottom: 1px solid var(--light-gray);
}
#myForm .field {
	padding-bottom: 8px;
	position: relative;
	cursor: pointer;
}
#myForm .field::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 30%;
	height: 2px;
	background-color: var(--light-gold);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
#myForm .field:hover::before {
	width: 80%;
}
#myForm input,
#myForm textarea,
#myForm select {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border: 2px solid var(--light-gray);
	padding: 8px;
}
#myForm input:focus,
#myForm textarea:focus {
	border: 2px solid var(--light-violet);
}
#myForm textarea[name='desc'] {
	min-height: 130px;
}
#myForm select[name='category'] {
	min-width: 260px;
}
#myForm .images-files {
	border: 3px dashed var(--light-gray);
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
#myForm .images-files .img-holder {
}
#myForm .uploaded-images {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
#myForm .uploaded-images .image {
	width: 130px;
	height: 130px;
	position: relative;
}
#myForm .uploaded-images .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#myForm .uploaded-images .image span {
	position: absolute;
	top: 0;
	right: 0;
	color: var(--light-white-color);
	font-size: calc(14px + 0.4vw);
	padding: 4px 0;
	background-color: rgba(0 0 0/ 20%);
	width: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
#myForm .uploaded-images .image span:hover {
	background-color: rgba(0 0 0/ 30%);
}
#myForm .images-files .img-holder svg.camera {
	font-size: 40px;
	color: var(--light-gray);
}
@media (max-width: 768px) {
	#myForm input,
	#myForm textarea,
	#myForm select {
		width: 100%;
	}
}